// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-anthracite-black: #232829;
$color-salmon: #FDB056;
$color-gray: #313637;
$color-old-gray: #919191;
$color-sloth: #484D4E;
$color-red: #FD5656;
$color-green: #1D5B43;
$color-yellow: #FFBB00;
$color-hot-red: #FF4E4E;
$color-arctic-black: #2D3233;
$color-flint: #606566;
$color-silver: #CDCDCD;
$color-lebanese-black: #191E1F;
$color-authentic-grey: #9B9B9B;
$color-light-green: #81FE95;



// Typography
$ff-montserrat: "Montserrat", "Arial", sans-serif;
$ff-gilroy: "Gilroy", "Arial", sans-serif;
$ff-raleway: "Raleway", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
$vp-mobile-s: 374px;

// Animation
$transition-300: ease-in 0.3s;